<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFBatch_UPM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FFBatch_UPM.Properties.Settings>
            <setting name="app_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="enc_q" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quick_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="compt_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hw_enc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hw_enc_en" serializeAs="String">
                <value>False</value>
            </setting>
        </FFBatch_UPM.Properties.Settings>
    </userSettings>
</configuration>